<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jonathanfullola.gamecompanion">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">

    </uses-permission>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_zelda"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_zeldaicon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.RegisterActivity"
                  android:label="@string/register_activity"
                  android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.LoginActivity"
                  android:label="@string/login_activity"
                  android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Admob -->
        <meta-data
                android:name = "com.google.android.gms.ads.APPLICATION_ID"
                android:value = "ca-app-pub-5361617698168727~3267269317" />
    </application>

</manifest>